@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #fff;
  color: #222;
  margin: 0;
}

.nav-container {
  position: relative;
}

.nav-container button {
  border: none;
  position: absolute;
  font-size: 30px;
  top: -25px;
  left: 25px;
  background-color: white;
  cursor: pointer;
}

.hidden {
  left: -100px;
}

.nav {
  position: absolute;
  margin-top: 20px;
  font-size: 12px;
  left: -95px;
  transform: translateX(90%);
  transition: transform 350ms ease-in;
}

.nav li {
  margin-top: 10px;
  cursor: pointer;
  list-style: none;
}

/* .show-nav {
  transform: translateX(90%);
  transition: transform 350ms ease-in;
} */

.no-nav {
  transform: translateX(-90%);
  transition: transform 350ms ease-in;
}

.article-container {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
}

h1 {
  margin-bottom: 10px;
}

small {
  font-size: 15px;
  margin-top: none;
  font-style: italic;
  margin-bottom: 15px;
}

h3 {
  font-size: 20px;
}

p {
  line-height: 1.5;
}

img {
  margin: 25px 0px;
  max-width: 100%;
}
